<div class="col-md-12  col-xs-12 page notifications" >
    <h1><i class="glyphicon glyphicon-bell"></i>{{ 'NOTIFICATIONS' | translate}}</h1>
    <h3 ng-show="profile.notifications.length==0">{{ 'NO_NOTIFICATIONS' | translate}}</h3>
    
    <div ng-repeat="notif in profile.notifications" class="notification col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="author col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1">
            <a ng-href="#/profile/{{notif.userTarget._id}}">
                <img ng-src="{{notif.userTarget.avatar}}" on-error-src="img/default.png"/>
            </a>
        </div>
        <div class="col-md-10 col-xs-10 notification-text">
            <a href="#/profile/{{notif.userTarget._id}}">{{notif.userTarget.username}}</a>
        <span ng-show="notif.type=='contribution'">{{ 'CONTRIBUTED' | translate }}</span>
        <span ng-show="notif.type=='comment'">{{ 'COMMENTED' | translate }}</span>
        <a href="#/story/{{notif.storyTarget._id}}">{{notif.storyTarget.title}}</a>
        </div>
        
    </div>
    
</div>